<!--========================================================================================================-->
 <h3>Heroes: looping through heroes of ForLoopEgComponent</h3>
<ul>
	<!--heroes from ForLoopEgComponent-->
	<li *ngFor="let hero of heroes">
		{{ hero.name }}
	</li>

</ul>
Using if *ngIf="heroes.length > 3
<div *ngIf="heroes.length > 3">There are many heroes!</div>
Using if *ngIf="heroes.length > 3

<!--========================================================================================================-->
