<h2> {{ appName }} </h2>

<section id="top-section"></section>
<div class="aTextDecor">
	<ul>
		<!--<li>
			<h3><a routerLink="/ExamplesMenu/HerosList" >Main Heroes List</a></h3>
			<p>The main tutorial - heroes/HeroesComponent and hero-detail/HeroDetailsComponent</p>
		</li>-->
		<li>
			<h3><a routerLink="/ExamplesMenu/ShowHide">*ngIf else example using checkbox</a></h3>
			<p>
				<b>simple-eg/ShowHideComponent</b> <br>
				1. Using checkbox to set and change value of ShowHideComponent<br>
				2. *ngIf else to show alternate templates

			</p>
		</li>
		<li>
			<h3><a routerLink="/ExamplesMenu/GetComponentProperty">Get component property</a></h3>
			<p>
				<b>simple-eg/GetComponentPropertyComponent</b> <br>
				1. Declaring and instantiating objects from plain classes (Hero and Heorine) <br>
				2. Using of arrays. <br>
				3. Accessing created objects from html
			</p>
		</li>
		<li>
			<h3><a routerLink="/ExamplesMenu/DoForLoop">Looping and if statements</a></h3>
			<p>
				<b>GetComponentPropertyComponent</b> <br>
				1. Creating and initialising Heroes array <br>
				2. Use *ngFor for looping<br>
				3. Use *ngIf and length attribute to check for size of array
			</p>
		</li>
		<li>
			<h3><a routerLink="/ExamplesMenu/DoDataBind">Bind data to HTML</a></h3>
			<p>
				<b>simple-eg/BindPropertyComponent</b> <br>
				1. Alternate way of instantiating and initialising property<br>
				2. 2-way bind input to component property.<br>
				3. Print to console on keyup to see effect of binding using console.log.
			</p>
		</li>
		<li>
			<h3><a routerLink="/ExamplesMenu/ClickMe">Click event</a></h3>
			<p>
				<b>user-input/ClickMeComponent</b> <br>
				Click event using (click)
			</p>
		</li>
		<li>
			<h3><a routerLink="/ExamplesMenu/KeyupAnyEvent">OnKey generated event</a></h3>
			<p>
				<b>user-input/KeyUpcomponent</b> <br>
				1. Using onKey to refer to input that generated keyup event<br>
				2. event.target is the reference to the input text that raised the event.<br>
			</p>
		</li>
		<li>
			<h3><a routerLink="/ExamplesMenu/LoopBack">Loop Back</a></h3>
			<p>
				<b>user-input/LoopBack</b> <br>
				Loop back
			</p>
		</li>
		<li>
			<h3><a routerLink="/ExamplesMenu/LittleTour">Little Tour Of Heroines</a></h3>
			<p>
				<b>user-input/LittleTourComponent</b> <br>
				1. Create heroines array in constructor - new Heroine class <br>
				2. Name #newHeroine input <br>
				3. Use keyup.enter, blur and button (click) events to add new heroine using addHeroine method <br>
				4. Display heroines using *ngFor <br>
				5. Add new heroine to heroines array using push and with heroines.length to increase list numbering <br>
				6. Test out console logging. <br>
			</p>
		</li>
		<li>
			<h3><a routerLink="/ExamplesMenu/Master-Detail">Master - Detail Components</a></h3>
			<p>
				<b>master-detail/master/MasterComponent and ./detail/DetailComponent</b> <br>
				1. Using CSS for list display and selected row <br>
				2. Bind component with html input using ngModel- selected hero
				3. Using @Input directive to pass data across components
			</p>
		</li>
		<li>
			<h3><a routerLink="/ExamplesMenu/ScrollTo">Scroll To</a></h3>
			<p>
				<b>simple-eg/ScrollToComponent</b> <br>
				How to scroll to anchor in page
			</p>
		</li>
		<li>
			<h3><a routerLink="/ExamplesMenu/ChildRoute">Using Child Menus</a></h3>
			<p>
				<b>simple-eg/child-route/ChildRouteComponent</b> <br>
				How to use router links to display child menus and content
			</p>
		</li>

	</ul>
</div>

<hr>

<a scrollTo href="#top-section">Back to top</a>
<section id="display-section"></section>
<div id="display">
	<router-outlet></router-outlet>
</div>
