<section id="scroll-top-section">Top Section</section>
<a scrollTo href="#bottom-section">Scroll to bottom section</a>
<a scrollTo href="#top-section">Go to top</a>
<button scrollTo scrollTargetSelector="#bottom-section">Scroll to bottom section</button>
<!--<button scrollTo scrollableElementSelector="#container" scrollYTarget="0">Go to top</button>-->

<div id="container">
	<br><br><br><br><br><br><br><br><br><br><br>
	<br><br><br><br><br><br><br><br><br><br><br>
	<br><br><br><br><br><br><br><br><br><br><br>

	<section id="bottom-section">Bottom Section</section>
	<a scrollTo href="#scroll-top-section">Scroll to top section</a>
	<button scrollTo scrollTargetSelector="#scroll-top-section">Scroll to top section</button>
	<br><br><br><br><br><br><br><br><br><br><br>
	<br><br><br><br><br><br><br><br><br><br><br>
	<br><br><br><br><br><br><br><br><br><br><br>
	<br><br><br><br><br><br><br><br><br><br><br>
	<br><br><br><br><br><br><br><br><br><br><br>
	<br><br><br><br><br><br><br><br><br><br><br>
	<br><br><br><br><br><br><br><br><br><br><br>
</div>