
<!--========================================================================================================-->
<h2>My Heroes using Master (list) - Detail (record)</h2>
<h3>Master - MasterComponent</h3>
<input type="checkbox" (change)="onSelectShowLittleTour()">Show Little Tour
<ul class="heroes">
	<li *ngFor="let hero of heroesArr" (click)="onSelect(hero)"
	    [class.selected]="hero === selectedHero">
		<span class="badge">{{ hero.id }}</span> {{ hero.name }}
	</li>
</ul>

<!-- moved to HeroDetailsComponent => hero-detail-component.html
<div *ngIf="selectedHero">
	<div><label>id: </label>{{ selectedHero.id }}</div>
	<div><label>name: </label>
		<input [(ngModel)]="selectedHero.name" placeholder="name">
	</div>
</div>-->

<!--========================================================================================================-->
<!--
1. selectedHero is variable in HerosComponent class which is assigned when click onSelect(hero) is triggered
2. [heroDetail]="selectedHero" assigns selectedHero to HeroDetailComponent's hero object which in declared with @Input
3. Subsequently, hero-detail.component.html which contains the {{heroDetail}} is rendered.
4. In short, onClick, AppComponent.hero is passed to AppComponent.selectedHero via onSelect method and then binded to
HeroDetail.heroDetail
-->

<!--<hero-detail [heroesArrInput]="heroesArr"></hero-detail>-->
<detail [heroDetailInput]="selectedHero"></detail>
<hr>
<div *ngIf="showLittleTour">
	<little-tour [heroesArrInput]="heroesArr">Passing selected Hero to LittleHero</little-tour>
</div>


