<h3>Show and hide</h3>
<input type="checkbox" (change)="onCheckChange()"> {{ change }}
<br>
<br>
Example using ternary if
<br>
<button (click)="show = !show">{{show ? 'hide' : 'show'}}</button>
show = {{show}}
<br>
<div *ngIf="show; else elseBlock">Text to show</div>
<ng-template #elseBlock>Alternate text while primary text is hidden</ng-template>

<!--
  <div *ngFor="#input of inputList">
    {{ input.label }}
    <input type="text"
        [ngModel]="getProp(input.bindTo)"
        (ngModelChange)="setProp(input.bindTo, $event)">
  </div>

  inputList = [
    {
      label: "Enter your name",
      bindTo: "name"
    },
    {
      label: "Enter your email",
      bindTo: "email"
    }
  ];

  getProp(prop) {
    return this[prop];
  }

  setProp(prop, value) {
    this[prop] = value;
  }
-->