<!--========================================================================================================-->
<div *ngIf="heros; else showMockHeros">
	<h2>Using heros from HeroService/Detail</h2>
	<ul class="heroes">
		<li *ngFor="let hero of heros" (click)="onSelect(hero)"
		    [class.selected]="hero === selectedHero">
			<span class="badge">{{ hero.id }}</span> {{ hero.name }}

		</li>
	</ul>
</div>

<ng-template #showMockHeros>
	<h2>Using mockHeroes from HeroService/Detail</h2>
	<ul class="heroes">
		<li *ngFor="let hero of mockHeroes" (click)="onSelect(hero)"
		    [class.selected]="hero === selectedHero">
			<span class="badge">{{ hero.id }}</span> {{ hero.name }}

		</li>
	</ul>
</ng-template>


<hero-detail [heroDetailInput]="selectedHero"></hero-detail>